* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    float: right;
    padding-top:0;
    font-size: 20px;
}
ul li{
    display: inline-block;
}
.main ul li a{
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6 ease;
    text-decoration: none;
    color:snow ;
}
.active,.main ul li :hover{
    background-color:rgb(231, 83, 145);
    color:white;
}




.main .fa{
    margin: 8px;
}

.main ul li :hover .contact-sub{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}
.contact-sub{
    display: flex;
    flex-direction: column;
}


.dropbtn {
    
    color:rgb(17, 8, 97);
    padding: 8px;
    font-size: 16px;
    border: none;
    font-size: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:black;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:rgb(231, 83, 145);}
  .main{
      padding-top: 10px;
      padding-right: 10px;
  }
  
  h2{
    padding-bottom: 5px;
    font-size: 100px;
    text-shadow: 5px 5px 5px white;
    
    color:maroon;
  }


  .slideshow-container {
    max-width: 895px;
    position: relative;
    margin: auto;
    padding-top: 10px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


header{
  background-color:black;
  position: relative;
}
.tagline{
  padding-bottom: 200px;
  font-size: 30px;
  color:yellow;
  min-width: 10%;
  max-width: 100%;
}
.ppp a{
  text-decoration: yellow;
  font-size: 20px;
  color:whitesmoke;
  float: left;
  padding-bottom: 40px;

}
.lll a{
  text-decoration: yellow;
  font-size: 20px;
  color:whitesmoke;
  float: right;
  padding-right: 30px;
 

}
#text1{
  transition: 0.99 ease-in;
}



div.slide-up {
  height:500px;
  overflow:hidden;
}
div.slide-up h2 {
  animation: 1s slide-up;
  margin-top:0%;
  /*transition: ease-in;*/
}
div.slide-up h3 {
  animation: 2s slide-up;
  margin-top:0%;
  /*transition: ease-in;*/
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%; 
  }
 
  to {
    margin-top: 0%;
    height: 100%;
  }
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  #text1 h2{
    font-size: 50px;
  }

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  #text1 h2{
    font-size: 20px;
    left:end
  }
}
@media screen and (max-width: 600px) {
  .logo {
    width: 100%;
  }
}

/*About us
.row {
  padding-top:20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
 
.about{
  color: crimson;
  text-align: center;
  font-size: 35px;
  font-weight: 100;
 
}
.aboutus{
  padding-top: 50px;
}*/

/*About us flip card*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.flip-card-back {
  background-color: transparent;
  color:black;
  transform: rotateY(180deg);
  text-align: center;
}
.aboutflip{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clientflip{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ourwork .tag{
 
  font-size: 30px;
  text-align: center;
}
.ourwork{
  padding: 100px 0 100px 0;
}
.ourclients{
 
  font-size: 30px;
  text-align: center;
}



/* last address*/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.row1{
  background-color: black;
}
.responsive{
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 25px 25px 25px 25px;
  transition: transform .2s;

}
.responsive:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.column1 .box1 .text1{
  color: white;
  font-size: auto;
}
.column1 .box1 .icon1{
  color: hotpink;
}
.column1{
  padding: 30px 30px 30px 30px;
}
/* footer*/
.footer{
  padding: 20px;
  background-color:#18191a;
  color:crimson;
  text-align: center;
  display:ruby-base;
}